.encabezado{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(194, 42, 11);
    width: 100%;
    color: rgb(66, 71, 75);
    align-items: flex-start;
}
.img1{
    width: 50%;
    height: 10%;
}
.contenedor{
    display: flex;
    justify-content: center;
    background-color: gray;

}

.logo_face, .insta{
    width: 30%;

   
}
.wp{
width: 35%;
}
.yt{
    width: 80%;
}
.redes{
    display: flex;
    justify-content: center;
    background-color: dimgrey;
}
a:hover{
    background-color: brown;
}
.boton{
    display: flex;
    justify-content: center;
    background-color: gray;
}